@charset "UTF-8";
/* CSS Document */


body {
font-family: "Elsie", serif;
font-weight: 400;
font-style: normal;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #ad8786;
}

a {text-decoration:none; color: #fff;}

header, footer {
background-color: #ad8786;
color: #fffaf0;
padding: 30px 0 20px;
text-align: center;
}
		
h1 {transform: scale(1.5); letter-spacing: 2px;
font-weight: 400; font-family: century-gothic,Century Gothic,CenturyGothic,AppleGothic,sans-serif;text-transform: uppercase;
line-height: 80%;}
h1 span {letter-spacing:12px; font-size: 20px}
.container {
margin: 0 auto;
padding: 20px;
background: #fffaf0;
}

.columnas {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 2rem auto;
gap:30px;
max-width:1200px;
color:#926261;
}

.columna {
flex-basis: calc(33.33% - 20px);
box-sizing: border-box;
margin-bottom: 20px;
border:2px solid #ad8786;
border-radius:12px;
padding: 0 12px;
height: 300px;
}
.columna h2, .corte h2 {font-size:2rem;}
footer {padding:20px;}
footer a {color:#fff;}
footer a i {display: inline-block;
font-family: "Font Awesome 5 Brands";
color: #fff;
text-decoration: none;
font-size: 1.5rem;
line-height: 2rem;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
width: 2.25rem;
height: 2.25rem;
cursor: pointer;
text-align: center;}
.corte {background-size:cover; height: 500px; color:#fffaf0; display: flex;
place-items: flex-end; text-align: center; padding: 1rem 0 0; background-position-y: 20%;}
.corte1 {background-image:url(imagenes/corte_judith.png)}
.corte2 {background-image:url(imagenes/corte_sara.png); background-position-y: 40%;}
.corte h2 {margin: 15px auto -6px;}
.corte a {background-color: rgba(250,120,90,0.3); width: 100%; border-radius: 0 0 10px 10px; color:#fffaf0;}


/*IDIOMA*/
.lang {margin-top: -1rem;}
.lang div {display: flex; justify-content: center; list-style:none; margin: 0;}
.lang span {width: 4rem;
    height: 4rem; margin: 0 0.5rem; line-height: 950%;
    text-align: center;
    font-size: 12px;
    color: #fffaf0; font-style: italic;}	
.bt_LES, .bt_CAT {cursor: pointer;}

.bt_LES {background:url(https://menusqr.netlify.app/images/flagES.png);background-size: contain; background-repeat: no-repeat;}
.bt_CAT {background:url(https://menusqr.netlify.app/images/flagCT.png); background-size: contain; background-repeat: no-repeat;}
.LES {display:block;}
.CAT {display:none;}

/*SOCIAL*/

.SOCIAL div {display:block;}

.SOCIAL i {display:none; opacity:0;}
.FCBK:hover i, .TWITTER:hover i, .WHATS:hover i, .MAIL:hover i {display:none; }

.FCBK, .TWITTER, .INSTA, .MAIL, .BACK, .HOME, .WHATS, .LNKDN, .back-to-top {color:#002278; width:auto; margin: 0 10px;}


.SOCIAL i {
opacity: 0;
max-height: 1em;
white-space: nowrap;
/*transition: .1s;*/
font-size: 1rem;
line-height: 110%;
text-align:right;
position: absolute;
right: 3.5rem; 
font-family: 'Magra', sans-serif; 
}


/*BOTON SOCIAL*/
.SOCIAL {position:fixed;
display: block;
background: rgba(190,125,115,0.7);
top: 24rem;
width: 3rem;
right: 0;
text-align: center;
padding: 1rem 0 0;
border-radius: 10px 0 0 10px;
bottom: auto;
margin:0;
left: auto;
transform: unset;
z-index:10;
}

.FCBK, .TWITTER, .INSTA, .MAIL, .BACK, .HOME, .WHATS, .LNKDN {
display: inline-block;
font-family: "Font Awesome 5 Brands";
color: #fffaf0;
text-decoration:none;
font-size: 1.5rem;
line-height: 2rem;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
width: 2.25rem;
height: 2.25rem;
cursor: pointer;
text-align:center; margin-bottom: 1rem;
}

.FCBK:before {
    content: "\f39e";
}

.TWITTER:before {
    content: "\e61b";
}
.WHATS:before {
    content: "\f232";
}
.MAIL:before {
	font-family: 'Font Awesome 5 free';
    content: "\f0e0";
	font-weight: 900;
}

.BACK:before {
	font-family: 'Font Awesome 5 free';
    content: "\f00d";
	font-weight: 900;
}
.LNKDN:before {content: "\f08c"}

.back-to-top {
display: none;
text-align: center;
font-size: 2rem;
color:#ECDEC7;
position: fixed;
z-index: 90;
right: 0.25rem;
bottom: 2px;
}

.back-to-top:before {
font-family: 'Font Awesome 5 free';
content: "\f062";
font-weight:900;}
@media (max-width: 768px) {
.columna {flex-basis: calc(100% - 20px);}
h1 {transform: none;}
header {padding:5px;}
.container {
    padding: 1px 10px}
footer {margin-bottom: 5rem;}

.SOCIAL {
top: auto;
left: 50%;
transform: translate(-50%, 0%);
bottom: 0px;
background:#71535A;
border-radius: unset;
width: 100%;
margin-bottom: -10px;
text-align: left;
}

.FCBK, .TWITTER, .MAIL, .HOME, .BACK, .WHATS, .LNKDN {
margin:0 15px 15px 20px; color: #ECDEC7;
}
}

