@charset "UTF-8";
/* CSS Document */


body {
font-family: "Elsie", serif;
font-weight: 400;
font-style: normal;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #ad8786;
}

a {text-decoration:none; color: #fff;}

header, footer {
background-color: #ad8786;
color: #fffaf0;
padding: 30px 0 20px;
text-align: center;
}
		
h1 {transform: scale(1.5); letter-spacing: 2px;
font-weight: 400; font-family: century-gothic,Century Gothic,CenturyGothic,AppleGothic,sans-serif;text-transform: uppercase;
line-height: 80%;}
h1 span {letter-spacing:12px; font-size: 20px}
.container {
margin: 0 auto;
padding: 20px;
background: #fffaf0;
}

.columnas {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 2rem auto;
gap:30px;
max-width:1200px;
color:#926261;
}

.columna {
flex-basis: calc(33.33% - 20px);
box-sizing: border-box;
margin-bottom: 20px;
border:2px solid #ad8786;
border-radius:12px;
padding: 0 12px;
height: 300px;
}
.columna h2, .corte h2 {font-size:2rem;}
footer {padding:20px;}
footer a {color:#fff;}
footer a i {display: inline-block;
font-family: "Font Awesome 5 Brands";
color: #fff;
text-decoration: none;
font-size: 1.5rem;
line-height: 2rem;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
width: 2.25rem;
height: 2.25rem;
cursor: pointer;
text-align: center;}
.corte {background-size:cover; height: 500px; color:#fffaf0; display: flex;
place-items: flex-end; text-align: center; padding: 1rem 0 0; background-position-y: 20%;}
.corte1 {background-image:url(imagenes/corte_judith.png)}
.corte2 {background-image:url(imagenes/corte_sara.png); background-position-y: 40%;}
.corte h2 {margin: 15px auto -6px;}
.corte a {background-color: rgba(250,120,90,0.3); width: 100%; border-radius: 0 0 10px 10px; color:#fffaf0;}

@media (max-width: 768px) {
.columna {flex-basis: calc(100% - 20px);}
h1 {transform: none;}
header {padding:5px;}
.container {
    padding: 1px 10px}
}

